@font-face {
    font-family: 'ROG';
    src: url('font/asusrog_regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DBD9D9;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin: 0;
    background-image: url('hex.jpg');
    background-size: cover; /* Ensures the image covers the whole page */
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Adjust the opacity (0.5) to darken more or less */
    z-index: -1; /* Keeps the overlay behind the content */
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-family: 'ROG', sans-serif; 
    color: #0008FF; 
    font-size: 3em; 
    margin-bottom: 10px;
}

p {
    font-size: 1.5rem;
    color: #444;
    margin: 10px 0 20px 0;
}

h2 {
    font-size: 2rem;
    margin-top: 10px;
}

ul#leaderboard {
    list-style: none;
    padding: 0;
}

ul#leaderboard li {
    display: flex;                  /* Use flexbox for alignment */
    justify-content: space-between;  /* Align index and time on opposite sides */
    align-items: center;             /* Vertically center the content in each item */
    padding: 10px 15px;                 /* Add some spacing for each item */
    font-size: 1.2rem;               /* Set font size */
    font-weight: bold;
    border: 1px solid #ccc;         /* Add a light gray border around each item */
    border-radius: 5px;              /* Optional: Round the corners of the border */
    margin-bottom: 5px;   
}

ul#leaderboard li:nth-child(-n+3) {
    background-color: #f0f0f0;
}


button {
    color: #0008FF;               /* Text color */
    border: none;               /* Remove default border */
    background-color: transparent;
    font-size: 2rem;
    font-family: 'ROG', sans-serif; 
    text-transform: uppercase;  /* Uppercase text */
    cursor: pointer;            /* Pointer cursor on hover */
   
}

